margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

  
  
.btn {
    -moz-user-select: none;
    border: 3px solid #d2583e;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: 'Racing Sans One', cursive;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
    vertical-align: middle;
    white-space: nowrap;
}
.row>.column_one_two>.column_wrap>img{
  width:100;
}

.css-adaptive {
display: block;
max-width: 100%;
height: auto;
}

